name: lecture-python
channels:
  - default
dependencies:
  - python=3.8
  - anaconda=2020.07
  - pip
  - pip:
    - git+https://github.com/executablebooks/jupyter-book
    - sphinxext-rediraffe
    - git+https://github.com/executablebooks/sphinx-multitoc-numbering
    - git+https://github.com/quantecon/quantecon-book-theme
    - git+https://github.com/executablebooks/sphinx-exercise
    - joblib
    - interpolation
    - git+https://github.com/QuantEcon/quantecon-book-theme

