name: quantecon
channels:
  - default
dependencies:
  - python=3.13
  - anaconda=2025.12
  - pip
  - pip:
    - jupyter-book>=1.0.4post1,<2.0
    - quantecon-book-theme==0.15.1
    - sphinx-tojupyter==0.6.0
    - sphinxext-rediraffe==0.3.0
    - sphinx-exercise==1.2.1
    - sphinx-proof==0.3.0
    - sphinxcontrib-youtube==1.4.1
    - sphinx-togglebutton==0.3.2
    - sphinx-reredirects==1.1.0


