name: quantecon
channels:
  - default
dependencies:
  - python=3.13
  - anaconda=2025.06
  - pip
  - pip:
    - jupyter-book==1.0.4post1
    - quantecon-book-theme==0.10.0
    - sphinx-tojupyter==0.3.1
    - sphinxext-rediraffe==0.2.7
    - sphinx-exercise==1.0.1
    - sphinx-proof==0.2.1
    - sphinxcontrib-youtube==1.4.1
    - sphinx-togglebutton==0.3.2
    - sphinx-reredirects==0.1.4


