name: quantecon
channels:
  - default
dependencies:
  - python=3.8
  - anaconda=2020.11
  - pip
  - pip:
    - jupyter-book==0.11.1
    - sphinx-multitoc-numbering==0.1.3
    - quantecon-book-theme==0.2.3
    - sphinx-tojupyter==0.1.2
    - sphinxext-rediraffe==0.2.7
    - sphinx-exercise==0.1.1
    - jupytext==1.11.2
    - ghp-import==1.1.0
    - jupinx==0.2.3
    # Temporary Fixes
    - tornado>=6.1

