/*********************************************
* Variables *
*********************************************/
:root {
  --theorem-border-color: rgba(68,138,255,.1);
  --axiom-border-color: #ffc107;
  --criterion-border-color: #fd7e14;
  --lemma-border-color: #36cf03;
  --definition-border-color: #007bff;
  --remark-border-color: #79ff6f;
  --conjecture-border-color: #775f15;
  --corollary-border-color: #c500c1;
  --example-border-color: #f9377b;
  --property-border-color: #fdf914;
  --obseration-border-color: #7707ff;
  --proposition-border-color: #4f7aa8;
  --assumption-border-color: #07fffb;

  /* --note-title-color: rgba(68,138,255,.1);
  --note-border-color: #007bff;
  --warning-title-color: rgba(220,53,69,.1);
  --warning-border-color: #dc3545;
  --hint-title-color: rgba(255,193,7,.2);
  --hint-border-color: #ffc107;
  --caution-title-color: rgba(253,126,20,.1);
  --caution-border-color: #fd7e14; */

  --grey-title-color: rgba(204,204,204,.2);
  --grey-border-color: #ccc;
}

/*********************************************
* Main body *
*********************************************/

/* Remove content box */
div.proof > .admonition-title::before {
	content: none;
}

/*********************************************
* Proof *
*********************************************/
div#proof{
	padding: .4rem .6rem .4rem 2rem !important;
	border-color: var(--grey-border-color);
	background-color: none;
}

/*********************************************
* Theorem *
*********************************************/
div.theorem {
	border-color: var(--theorem-border-color);
	background-color: none;
}

div.theorem > .admonition-title {
	background-color: transparent;
}

/*********************************************
* Axiom *
*********************************************/
div.axiom {
	border-color: var(--axiom-border-color);
	background-color: none;
}

div.axiom > .admonition-title {
	background-color: transparent;
}

/*********************************************
* Criterion *
*********************************************/
div.criterion {
	border-color: var(--criterion-border-color);
	background-color: none;
}

div.criterion > .admonition-title {
	background-color: transparent;
}

/*********************************************
* Lemma *
*********************************************/
div.lemma {
	border-color: var(--lemma-border-color);
	background-color: none;
}

div.lemma > .admonition-title {
	background-color: transparent;
}

/*********************************************
* Definition *
*********************************************/
div.definition {
	border-color: var(--definition-border-color);
	background-color: none;
}

div.definition > .admonition-title {
	background-color: transparent;
}

/*********************************************
* Remark *
*********************************************/
div.remark {
	border-color: var(--remark-border-color);
	background-color: none;
}

div.remark > .admonition-title {
	background-color: transparent;
}

/*********************************************
* Conjecture *
*********************************************/
div.conjecture {
	border-color: var(--conjecture-border-color);
	background-color: none;
}

div.conjecture > .admonition-title {
	background-color: transparent;
}

/*********************************************
* Corollary *
*********************************************/
div.corollary {
	border-color: var(--corollary-border-color);
	background-color: none;
}

div.corollary > .admonition-title {
	background-color: transparent;
}

/*********************************************
* Algorithm *
*********************************************/
div.algorithm {
	border: none;
	background-color: none;
}

div.algorithm > .admonition-title {
	background-color: transparent;
	border-top: .15rem solid var(--grey-border-color);
	border-bottom: .15rem solid var(--grey-border-color);
}

div.algorithm div.section {
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
	font-size: .85rem;
}

/*********************************************
* Example *
*********************************************/
div.example {
	border-color: var(--example-border-color);
	background-color: none;
}

div.example > .admonition-title {
	background-color: transparent;
}

/*********************************************
* Property *
*********************************************/
div.property {
	border-color: var(--property-border-color);
	background-color: none;
}

div.property > .admonition-title {
	background-color: transparent;
}

/*********************************************
* Observation *
*********************************************/
div.observation {
	border-color: var(--observation-border-color);
	background-color: none;
}

div.observation > .admonition-title {
	background-color: transparent;
}

/*********************************************
* Proposition *
*********************************************/
div.proposition {
	border-color: var(--proposition-border-color);
	background-color: none;
}

div.proposition > .admonition-title {
	background-color: transparent;
}
/*********************************************
* Assumption *
*********************************************/
div.assumption {
	border-color: var(--assumption-border-color);
	background-color: none;
}

div.assumption > .admonition-title {
	background-color: transparent;
}
