name: Build & Publish to GH Pages
on:
  push:
    branches:
      - main
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Anaconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          auto-activate-base: true
          miniconda-version: 'latest'
          python-version: 3.8
          environment-file: environment.yml
          activate-environment: lecture-python
      - name: Display Conda Environment Versions
        shell: bash -l {0}
        run: conda list
      - name: Display Pip Versions
        shell: bash -l {0}
        run: pip list
      - name: Build HTML
        shell: bash -l {0}
        run: |
          jb build lectures --path-output ./
      - name: Build Download Notebooks (sphinx-tojupyter)
        shell: bash -l {0}
        run: |
          jb build lectures --path-output ./ --builder=custom --custom-builder=jupyter
      - name: Copy Download Notebooks for GH-PAGES
        shell: bash -l {0}
        run: |
          mkdir _build/html/_notebooks
          cp _build/jupyter/*.ipynb _build/html/_notebooks
      - name: Deploy website to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/html/
          cname: python.quantecon.org
      # - name: Prepare lecture-python.notebooks sync
      #   shell: bash -l {0}
      #   run: |
      #     mkdir -p _build/lecture-python.notebooks
      #     cp -a _notebook_repo/. _build/lecture-python.notebooks
      #     cp _build/jupyter/*.ipynb _build/lecture-python.notebooks
      #     ls -a _build/lecture-python.notebooks
      # - name: Commit latest notebooks to lecture-python.notebooks
      #   uses: cpina/github-action-push-to-another-repository@master
      #   env:
      #     API_TOKEN_GITHUB: ${{ secrets.QUANTECON_SERVICES_PAT }}
      #   with:
      #     source-directory: '_build/lecture-python.notebooks/'
      #     destination-repository-username: 'QuantEcon'
      #     destination-repository-name: 'lecture-python.notebooks'
      #     commit-message: 'auto publishing updates to notebooks'
      #     destination-github-username: 'quantecon-services'
      #     user-email: services@quantecon.org
